.header__link {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding: 1em;
  text-decoration: none;
}

.header__link--active {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}