:root {
  --black: #000;
  --gray: #E2E2E2;
  --white: #FFF;
  --primary-font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--white);
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Consolas, 'Courier New', monospace;
}
